# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
db.sqlite3
media/
staticfiles/
logs/

# Poetry / Virtual Environments
.venv/
venv/
ENV/

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
